language: haskell

ghc:
 - 7.2
 - 7.4
 - 7.6
 - 7.8

before_install:
    - cabal configure --enable-tests
    - cabal build

install:
    - cabal install

after_result:
    - cabal test

script: true
